anticaptchaofficial==1.0.59
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
colored==2.2.4
console==0.9907
discord-webhook==1.3.0
ezenv==0.92
idna==3.6
keyboard==0.13.5
numerize==0.12
py==1.11.0
pyasn1==0.5.1
PySocks==1.7.1
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.5
TwoCaptcha==0.0.1
urllib3==2.1.0
